.App {
  text-align: center;
}

input{
  height: 35px;
  width: 150px;
  margin: 5px;
  border-radius: 5px;
  font-size: 6mm;
}

.heading{
  margin-top: 50px;
  border: 1px solid black;
}

.submit{
  height: 35px;
  width: 100px;
  border-radius: 5px;
  margin: 5px;
}